@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{

    background-color: #ebecf3;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 100%;
    line-height: 150%;

}

.main{

    display: flex;
    margin-bottom: 75%;
    margin-left: 5%;


}

.logo{

    margin: 3% 0% 0% 3%;
    width: 5%;
    height: 5%;

}

.barra{

    display: flex;
    margin-top: 0%;

}

.titulo{

    display: flex;
    justify-content:space-between;
    margin-top: 5%;
    padding-left: 1%;
    font-weight: 600;
    font-size: 150%;

}

.textarea-input{

    justify-content: space-between;
    color: black;
    margin-top: 5%;
    border: none;
    font-weight: 400;
    font-size: 150%;

}

.textarea-input:hover {

    outline: none;
}

.textarea-input:focus{

    outline: none;

}

.textarea-ouput{

    background-image: url("/imgs/no-data.png");
    background-color: #ffffff;
    background-repeat: no-repeat;
    border: none;
    border-radius: 3%;
    color: black;
    margin-left: 50%;
    margin-top: 4%;
    padding-left: 1%;
    position: fixed;
    font-weight: 400;
    font-size: 120%;

}

.textarea-ouput:hover {

    outline: none;
}

.textarea-ouput:focus{

    outline: none;

}

.information{

    font-size: 120%;
    color: #495057;
    margin-left: 5%;

}

.btn-ubi{

    display: flex;
    justify-content: space-around;
}

.btn-style{

    background-color: #0a3871;
    border:rgb(12, 12, 12);
    color: white;
    padding: 20px;
    font-size: 120%;
    cursor: pointer;
    border-radius: 20px;
    height: 15%;
    width: 100%;
    margin-left: 10px;
    margin-top: 0%;
    font-weight: 500;

}

.btn-style:hover {

    background-color: white;
    color: black;
    border: 2px solid #0a3871;
}

.btn-copy{

    background-color: #0a3871;
    border:rgb(12, 12, 12);
    color: white;
    cursor: pointer;
    height: 67px;
    width: 250px;
    margin-left: 50%;
    margin-top: 400px;
    position: absolute;
    font-size: 18px;
    border-radius: 20px;
    font-weight: 500;

}

.btn-copy:hover {

    background-color: white;
    color: black;
    border: 2px solid #0a3871;
}